In [1]:
import pandas as pd
import numpy as np

In [2]:
def read_data():
    data = pd.read_csv('C:/Users/s/Desktop/대외활동/Data Science/train.csv')
    data_subset = data.drop(['PassengerId', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)
    data_subset_renamed = data_subset.rename({'Pclass': 'Social_class', 'Sex' : 'Gender'}, axis = 1)
    data_subset_renamed.sort_values(by = ['Survived', 'Social_class', 'Fare', 'Age', 'Gender'], ascending = [False, True, False, True, False])
    data_grouped = data_subset_renamed.groupby(['Survived', 'Social_class'])
    data_mean = data_grouped['Age', 'Fare'].apply(lambda x: x.mean())
    data_diff = data_mean.assign(Age_Difference=lambda x: x.Age - x.Age.mean(), Fare_Difference=lambda y: y.Fare - y.Fare.mean())
    
    return data_diff

In [3]:
read_data()

<ipython-input-2-d401e8e10127>:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_mean = data_grouped['Age', 'Fare'].apply(lambda x: x.mean())

                             Age       Fare  Age_Difference  Fare_Difference
Survived Social_class
0        1             43.695312  64.684008       12.743447        26.496622
         2             33.544444  19.412328        2.592579       -18.775058
         3             26.555556  13.669364       -4.396310       -24.518022
1        1             35.368197  95.608029        4.416331        57.420643
         2             25.901566  22.055700       -5.050299       -16.131686
         3             20.646118  13.694887      -10.305748       -24.492499